---
layout: default
---
{%- include logo.html size=210 -%}
<header>
  <h1 style="line-height: 1;">{{ site.title }}<br><span style="font-family: serif; font-size: 0.8em;">D ì <span style="position: relative; display: inline-block;">l<span aria-hidden="true" style="position: absolute; left: 100%; transform: translateX(-50%) rotate(-18deg); top: 1.6em; font-size: 0.75em; line-height: 1; letter-spacing: -0.1em;">⌣</span></span> í p</span></h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}

</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<div style="text-align:right; padding-right:2rem; margin-bottom:0.5rem;">
  <a href="{{ site.data.profile.linkedin }}" style="margin-right:0.5rem;">profile</a>
  <a href="{{ site.data.profile.github }}" style="margin-right:0.5rem;">my code</a>
  <a href="{{ site.data.profile.resume }}" style="margin-right:0.5rem;">on paper</a>
  <a href="mailto:{{ site.data.profile.email }}">hire me</a>
</div>
